#servidor
PORT=3000
NODE_ENV=development

#base de datos postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_de_tu_base_de_datos
DB_USER=postgres
DB_PASSWORD=tu_contraseña_de_postgres

#sesiones
SESSION_SECRET=un_secreto_muy_largo_y_random_para_sesiones
SESSION_NAME=passport_sid

#jwt
JWT_SECRET=otro_secreto_muy_largo_y_random_para_jwt
JWT_EXPIRES=15m

#csrf, tiene que tener 32 caracteres
CSRF_SECRET=un_secreto_de_exactamente_32chars